Source: gosa-si
Section: utils
Priority: optional
Maintainer: GOsa packages mainteners group <gosa-pkg@oss.gonicus.de>
Uploaders: Cajus Pollmeier <cajus@debian.org>, Benoit Mortier <benoit.mortier@opensides.be>
Standards-Version: 3.8.4
Build-Depends: debhelper(>= 5), dpatch
Homepage: https://oss.gonicus.de/labs/gosa/
Vcs-Browser: https://oss.gonicus.de/repositories/gosa/trunk/gosa-si
Vcs-Svn: https://oss.gonicus.de/repositories/gosa/trunk/gosa-si

Package: gosa-si-common
Architecture: any
Depends: ${misc:Depends}, libconfig-inifiles-perl, libcrypt-rijndael-perl, libio-socket-ssl-perl, libxml-simple-perl, libdata-dumper-simple-perl, libmime-tools-perl, libdbd-sqlite3-perl, libnet-ldap-perl, libnetaddr-ip-perl, libpoe-perl, libnet-dns-perl, libnet-pcap-perl, libconvert-asn1-perl, libdigest-hmac-perl, libnet-ip-perl, libdigest-sha1-perl, libnet-mac-vendor-perl, libpoe-component-pcap-perl, libnet-arp-perl, libdatetime-perl, libjson-rpc-perl, libxml-quote-perl, libcrypt-ssleay-perl, libnet-arp-perl, libfile-pid-perl
Suggests: gosa-si-server, gosa-si-client
Description: GOsa support infrastructure
 GOsa is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.
 .
 This package provides common library functionality used by the
 infrastructure server and client packages.

Package: gosa-si-server
Architecture: any
Depends: ${misc:Depends}, gosa-si-common, libcrypt-smbhash-perl, wget
Suggests: gosa, gosa-si-server-postfix, gosa-si-server-dak
Description: GOsa support infrastructure server
 GOsa is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.
 .
 This package provides everything you need in order to deploy a simple
 or distributed GOsa support infrastructure. It can be used to trigger
 certain actions or retrieve information from clients.

Package: gosa-si-client
Architecture: any
Depends: ${misc:Depends}, gosa-si-common, hwinfo, libdatetime-perl
Suggests: goto-fai-progress, gosa-si-client-krb5
Description: GOsa support infrastructure client
 GOsa is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.
 .
 This package lets you join to a GOsa support infrastructure as a
 client in order to provide information or to act on events.

Package: gosa-si-server-postfix
Architecture: any
Depends: ${misc:Depends}, gosa-si-server, postfix
Description: GOsa support infrastructure postfix module
 GOsa is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.
 .
 This package controls postfix mail queues.

Package: gosa-si-client-krb5
Architecture: any
Depends: ${misc:Depends}, gosa-si-client, libauthen-krb5-perl, libauthen-krb5-admin-perl
Description: GOsa support infrastructure kerberos module
 GOsa is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.
 .
 This package controls kerberos setups and enables administrators
 to maintain accounts and keys.

Package: gosa-si-server-dak
Architecture: any
Depends: ${misc:Depends}, gosa-si-server, dak
Description: GOsa support infrastructure dak module
 GOsa is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.
 .
 This package controls Debian archive kit setups and enables
 administrators to manage queue and keyring related issues.

Package: gosa-si-server-opsi
Architecture: any
Depends: ${misc:Depends}, gosa-si-server
Description: GOsa support infrastructure opsi module
 GOsa is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.
 .
 This package controls OPSI windows software deployment.

Package: gosa-si-client-loadreporter
Architecture: any
Depends: ${misc:Depends}, gosa-si-client
Description: GOsa support infrastructure system load reporter module
 GOsa is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.
 .
 This package controls the obtaining of system load values form other
 gosa-si-clients running on a terminal server.
