#!/usr/bin/make -f

GOSAVERSION:=$(shell dpkg-parsechangelog | sed -n 's/^Version: //p')

%:
	dh $@

override_dh_auto_install:
	ln -snf gosa-plugins/* .
	mkdir -p rsyslog/contrib
	dh_auto_install

override_dh_compress:
	dh_compress
	gzip -d debian/gosa/usr/share/doc/gosa/gosa.conf.gz

override_dh_auto_clean:
	find -maxdepth 1 -type l -exec rm {} \;
	dh_auto_clean
	test -f ../gosa_$(GOSAVERSION).orig.tar.gz || tar -czf ../gosa_$(GOSAVERSION).orig.tar.gz --transform='s/^./gosa-$(GOSAVERSION)/' --exclude='./.git*' --exclude='debian*' .
	sed -i /GOSAVERSION/d debian/rules #remove ugliness from debian source package
